@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.tableCol {
    @apply px-6 py-3 text-xs font-medium uppercase tracking-wider text-gray-400
}

.tableRow {
    @apply px-6 py-4 whitespace-nowrap text-sm
}

.addLabel {
    @apply py-2 px-3 w-full text-white leading-tight focus:outline-blue-600 focus:ring-blue-600 outline-none bg-gray-700
}